<div>
  <h1 x-large class="sample-content">Choose Image</h1>

  <hr>

  <div>
    <ng4-files-drop (filesSelect)="filesSelect($event)">

      <ng4-files-click (filesSelect)="filesSelect($event)">
        <div>

          {{fileNames || 'Click to choose file or drop file here'}}
        </div>

      </ng4-files-click>
      <button [disabled]="!selectedFiles" (click)="upload()">Upload</button>

    </ng4-files-drop>




  </div>

</div>
