
<h1>Gallery</h1>

<div class="galleryWrap">
  <div *ngFor="let galleryImage of appState.state.gallery; let index=index" class="galleryItem">
    <div>
      <img src="{{ galleryImage.path }}" alt="">
      <div class="deleteBtn" (click)="remove(index)"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
    </div>
  </div>
</div>
