html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif
}

a.active {
  background-color: gray;
}

.deleteBtn{
  text-align: center;
}

.galleryWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-flow: wrap;
}


.galleryItem{

  display: inline-flex;
  margin: 10px;
}


.galleryItem .deleteBtn:hover{
  color: red;
  cursor: pointer;
}
.galleryItem .deleteBtn:after{
  opacity:0;
  content: " Delete";
  margin-right: -50px;
  transition: all 0.2s ease;
}
.galleryItem .deleteBtn:hover:after{
  opacity: 1;
}
